doctype html
html
    head
        title Knowledge Base
        link(rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='/') Knowledge Base
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/articles/add') Add Article
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        .container
            block content
            br
            hr
            footer
                p Copyright &copy 2018
        script(src='../node_modules/jquery/dist/jquery.js')
        script(src='../node_modules/bootstrap/dist/js/bootstrap.js')
        